<!DOCTYPE html>
<html>
<head>
	<title>LoginApp</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
    <style>
        div {
            background-color: white;
        }
    </style>
</head>
<body>
<div class="container" >
    <div class="header-clearfix">
        <a id="logo" href="/users/home">K!</a>
        <nav>
            <ul class="nav nav-pills pull-left">
                {{#if user}}
                    <li role="project"><a id="nav_dash" href="/">Dashboard</a></li>
                    <li role="project"><a id="nav_pro" href="/users/contact">Contact</a></li>
                    <li role="project"><a id="nav_pro" href="/games/gamedboard">Game</a></li>
                    <li role="project"><a id="nav_logout" href="/users/logout">Logout</a></li>
                {{else}}
                    <li role="project"><a id="nav_login" href="/users/login">Login</a></li>
                    <li role="project"><a  id="nav_pro" href="/users/contact">Contact</a></li>
                    <li role="project"><a id="nav_reg" href="/users/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>
        {{#if user}}
        <h3 align="right" ><small>Welcome !! </small>{{user.username}}</h3>
        {{/if}}
    </div>
      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
        </div>
      </div>
         {{{body}}}
      <footer class="footer">
        <p>&copy;Techteam~k!</p>
      </footer>
    </div>
</body>
</html>