<form>
    {{#if data}}
    <div class="alert alert-danger">{{data}}</div>
    <button type="submit" formmethod="post" formaction="/games/game"><b>CLICK</b></button>Here!!
{{/if}}
</form>
<h2><b>Guess the country !!</b></h2>
<h4><b>Click below to play the game!!!</b></h4>
<center><img src='/images/world.jpeg' height="500" width="700"/></center>
{{#if data}}

{{else}}
<div id="buttons">
   <center> <a href="/games/q1" class="buttn orange">Play Game</a></center>
</div>
{{/if}}
<hr>