<form><h3 align="middle"><b>DASHBOARD</b></h3><br>
    {{#if status_2}}
        <button class="levelbtn levelbtnfirst" formaction="/games/game"><h4>Level1</h4></button>
        <span id="tab"><b>Status :COMPLETED</b></span>
        <hr>
        <button class="levelbtn levelbtnfirst" formaction="/games/level2"><h4>Level2</h4></button>
        <span id="tab"><b>Status :UNLOCKED</b></span>
        <hr>
        <button class="levelbtn levelbtnfirst"><h4>Level3</h4></button>
        <span id="tab"><b>Status :LOCKED</b></span>
    {{else}}
        {{#if status_3}}
            <button class="levelbtn levelbtnfirst" formaction="/games/game"><h4>Level1</h4></button>
            <span id="tab"><b>Status :COMPLETED</b></span>
            <hr>
            <button class="levelbtn levelbtnfirst" formaction="/games/level2"><h4>Level2</h4></button>
            <span id="tab"><b>Status :COMPLETED</b></span>
            <hr>
            <button class="levelbtn levelbtnfirst" formaction="/games/level3"><h4>Level3</h4></button>
            <span id="tab"><b>Status :UNLOCKED</b></span>
        {{else}}
            {{#if status_4}}
                <button class="levelbtn levelbtnfirst" formaction="/games/game"><h4>Level1</h4></button>
                <span id="tab"><b>Status :COMPLETED</b></span>
                <hr>
                <button class="levelbtn levelbtnfirst" formaction="/games/level2"><h4>Level2</h4></button>
                <span id="tab"><b>Status :COMPLETED</b></span>
                <hr>
                <button class="levelbtn levelbtnfirst" formaction="/games/level3"><h4>Level3</h4></button>
                <span id="tab"><b>Status :COMPLETED</b></span>
            {{else}}
                <button class="levelbtn levelbtnfirst" formaction="/games/game"><h4>Level1</h4></button>
                <span id="tab"><b>Status :UNLOCKED</b></span>
                <hr>
                <button class="levelbtn levelbtnfirst"><h4>Level2</h4></button>
                <span id="tab"><b>Status :LOCKED</b></span>
                <hr>
                <button class="levelbtn levelbtnfirst"><h4>Level3</h4></button>
                <span id="tab"><b>Status :LOCKED</b></span>
            {{/if}}
        {{/if}}
    {{/if}}
</form>