<h2><b>DECODE IF YOU CAN!!</b></h2>
<h5><b>INSTRUCTIONS</b></h5>
<h6>
    This round contains only one question!! try to finish it asap o_0<br>
</h6>
{{#if data}}
<div class="alert alert-success"><b>You have already completed this level</b></div>
{{else}}
    <div id="buttons">
        <center> <a href="/games/q6" class="buttn orange">Play Game</a></center>
    </div>
{{/if}}
<hr>