<h4 align="center"><b>FINAL LEVEL</b></h4>
<h5>
Welcome to the final leap,,, Congo! for clearing the previous level<br>
<b>Click below to play the level!</b></h5>
{{#if data}}
    <div class="alert alert-success"><b>You have already completed this level</b></div>
{{else}}
    <div id="buttons">
        <center> <a href="/games/q7" class="buttn orange">Play Game</a></center>
    </div>
{{/if}}
<hr>