<b>QUESTION 1.</b>
<form method="post" action="/games/levelone">
    <div>
        <center>
        <img alt="flag1" src="/images/flags/flag1.png" height="500" width="700">
        <br>
         <input type="text" placeholder="ANSWER" name="lvl1_ans1" class="inputbox" required >
         <button type="submit" class="buttn orange">Submit</button>
        </center>         
    </div>
</form>