<b>QUESTION 2.</b><form method="post" action="/games/levelone">
    <div>
        <center>
        <img alt="flag2" src="/images/flags/flag2.png" height="500" width="700">
        <br>
         <input type="text" placeholder="ANSWER" name="lvl1_ans2" class="inputbox" required>
         <button type="submit" class="buttn orange">Submit</button>
        </center>         
    </div>
</form>