<b>QUESTION 3.</b><form method="post" action="/games/levelone">
    <div>
        <center>
        <img alt="flag3" src="/images/flags/flag3.jpg" height="500" width="700">
        <br>
         <input type="text" placeholder="ANSWER" name="lvl1_ans3" class="inputbox" required>
         <button type="submit" class="buttn orange">Submit</button>
        </center>         
    </div>
</form>