<b>QUESTION 4.</b><form method="post" action="/games/levelone">
    <div>
        <center>
        <img alt="flag4" src="/images/flags/flag4.png" height="500" width="700">
        <br>
         <input type="text" placeholder="ANSWER" name="lvl1_ans4" class="inputbox" required>
         <button type="submit" class="buttn orange">Submit</button>
        </center>         
    </div>
</form>