<b>QUESTION 5.</b><form method="post" action="/games/levelone">
    <div>
        <center>
        <img alt="flag5" src="/images/flags/flag5.jpg" height="500" width="700">
        <br>
         <input type="text" placeholder="ANSWER" name="lvl1_ans5" class="inputbox" required>
         <button type="submit" class="buttn orange">Submit</button>
        </center>         
    </div>
</form>