<b>QUESTION.</b><form method="post" action="/games/level2">
    <div>
        <center>
            <img alt="flag4" src="/images/level2qn.jpg" height="500" width="700">
            <br>
            <input type="text" placeholder="ANSWER" name="lvl2_ans" class="inputbox" required>
            <button type="submit" class="buttn orange">Submit</button>
        </center>
    </div>
</form>