<b>QUESTION</b><form method="post" action="/games/level3">
    <div>
        <!--ans is batman -->
        <center>
            <img alt="flag4" src="/images/q7.jpg" height="500" width="700">
            <br>
            <input type="text" placeholder="ANSWER" name="lvl3_ans" class="inputbox" required>
            <button type="submit" class="buttn orange">Submit</button>
        </center>
    </div>
</form>