/* Space out content a bit */
body {
  padding-top: 10x;
  padding-bottom: 5px;
}
/*BODY PHASE STARTS*/
body {background-color: #39f !important;}
@-webkit-keyframes colours {
  0% {background-color: #39f;}
  15% {background-color: #8bc5d1;}
  30% {background-color: #f8cb4a;}
  45% {background-color: #95b850;}
  60% {background-color: #944893;}
  75% {background-color: #c71f00;}
  90% {background-color: #bdb280;}
  100% {background-color: #39f;}
}
body {
  -webkit-animation-direction: normal;
  -webkit-animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: colours;
  -webkit-animation-timing-function: ease;
}

/*bg phase option*/

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 10px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 4px;
  border-bottom: 4px solid #e53b41;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 1px;
  margin-bottom: 30px;
  color: #000000;
  line-height: 4px;
}

/* Custom page footer */
.footer {
  padding-top: 05px;
  color: #000000;
  border-top: 03px solid #c24f29;
}

/* Customize container */
@media (min-width: 968px) {
  .container {
    max-width: 930px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
#tab { display:inline-block;
  margin-left: 20px; }
/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 300px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.page-header{
  margin-top:40px;
}
footer{
  margin-top:40px;
}
#nav_login:hover {
  color: #fafafa;
  background-color: #333;
}
#nav_dash:hover{
  color: #fafafa;
  background-color: #333;
}
#nav_logout:hover {
  color: #fafafa;
  background-color: #333;
}
#nav_reg:hover{
  color: #fafafa;
  background-color: #333;
}
#nav_pro:hover{
  color: #fafafa;
  background-color: #333;
}
#logo:hover {
  color: #fafafa;
  background-color: #333;
}
#logo {
  float: left;
  font-size: 1.5em;
  margin: 0;
  padding: .4em;
  text-decoration: none;
  color: #333;
  border-right: 2px solid #000000;
  transition: .5s all;
}
nav {
  float: left;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: .2em 2em;
}
nav ul li {
  display: inline;
  padding: 0em;
}
nav ul li a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  padding-bottom: 1.3em;
  transition: .5s color;
}
nav ul li a:hover {
  border-bottom: 3px solid #333;
}
.main {
  height: 500px;
  background: #000;
}

/*BUTTONS CSS*/
/* button div */
#buttons {
  padding-top: 50px;
  text-align: center;
}

/* start da css for da buttons */
.buttn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.buttn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
.orange {
  background-color: #e67e22;
  box-shadow: 0px 5px 0px 0px #CD6509;
}

.orange:hover {
  background-color: #FF983C;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
  background-color: #FF6656;
}
.inputbox {
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  transition: box-shadow 0.4s ease;
}

.inputbox:focus {
  box-shadow: inset 0 -5px 0 0 #000000;
}

.levelbtn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.levelbtn:hover, .levelbtn:focus {
  color: #fff;
  outline: 0;
}

.levelbtnfirst:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}